body {
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
.sticky + #subheader{
    padding-top: 102px;
  }

.container{
margin: auto;
}

img {
    width: 100%;;
}

.logo {
    width: 100px;
}

.primary-text{
    color: #01416f;
}

.primary-background{
    background: #56a79a;
}

#main-header {
border-bottom:1px solid #01416f;
width: 100%;
background: #fff;
z-index: 999;
}


#navbar {
    text-transform: uppercase;
}

#navbar li {
    display: inline;
    padding-right: 20px;
    list-style: none;
}

#navbar ul {
    padding: 0;
}

#navbar a {
    text-decoration: none;
    color: #888;
}

#navbar li.current a, #navbar a:hover {
    color: #f6d817;
    border-bottom: 3px solid #f6d817;
    padding-bottom: 3px;
}

#showcase {
    background: url('../images/White-Keyboard.jpg') no-repeat center/cover;
    border-bottom: 1px solid #56a79a;
    margin-bottom: 30px;
    padding-top: 100px;
}

#showcase .row {
    height: 95vh;
}

#showcase h1 {
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
}

#showcase p {
    color:#ccc;
    margin: 0;
}

#showcase .showcase-content {
    background: #333;
    color:#fff;
    border-radius: 90px;
    padding: 40px;
    opacity: 0.9;
}

#features h2{
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}

#features p {
    color:#888;
    margin:0;
    margin-bottom: 40px;
}

#features .fas, #features .far {
    color: #01416f;
    font-size: 60px;
}

#info {
    background: url('../images/contact-bg.jpg') no-repeat center/cover;
    color: #01416f;
    height: 100%;
}

#info h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}

#info ul {
    list-style: none;
    padding: 0;
}

#info li {
    line-height: 2em;
    font-size: 20px;
}

.core-features {
    padding-top: 7px;
}

#company {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

#company h4 {
    text-transform: uppercase;
    margin-bottom: 0;
}

#company ul {
    padding: 0;
    list-style:none;
    line-height: 2em;
}

#company input[type="text"]{
    padding: 7px;
}

#company button {
    background: #222;
    color: #fff;
    padding: 10px;
    border:0;
}

 .fab {
    font-size: 40px;
    color: #fff;
    padding-top: 10px;
}

#page{
    margin: 20px 20px 40px 20px;
}

.services ul {
    padding: 0;
    list-style: none;

}

.services li {
    list-style: none;
    padding: 10px;
}

ul .job-description {
    padding: 0 30%;
}

.services ul li:nth-child(odd){
    background: #333;
    color:#fff;
}

.services ul li:nth-child(even){
    background: #01416f;
    color:#fff;
}

.contact form {
    background: #333;
    color:#fff;
    padding: 20px;
}

.contact form input[type="text"]{
    width: 50%;
    height: 30px;
    margin-bottom:10px;
}

.contact form textarea{
    width: 50%;
    height: 100px;
}

.contact form button{
    width: 50%;
    padding: 10px 0;
    border: 0;
    background: #222;
    color:#fff;
}

.contact form label{
    text-transform: uppercase
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
#main-footer {
    background:#01416f;
    color:#fff;
}
@media(max-width:800px){
    #showcase h1 {
        font-size: 30px;
    }
    #subheader {
        padding: 0 16px;
    }
    .core-features {
        padding-top: 0px;
    }
}
@media(max-width:500px){
    #showcase .showcase-content {
        padding: 40px 10px;
    }
    
}


